* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	font-size: 1.2rem;
	min-height: 100%;
    background: linear-gradient(to right, #485563, #29323c);
}
.grid-contenedor > * {
    text-align: center;

}
.title{
    grid-area: title;
    text-align: center;
}
.top-bar{
    grid-area: top-bar;
    background-color: rgb(2, 2, 2);
    text-align: center;
    border-radius: 20px 20px 0px 0px;
}
.menu{
    grid-area: menu;
    background-color: rgb(25, 26, 26);

}
.bottom-bar{
    grid-area: bottom-bar;
    background-color: rgb(50, 13, 138);
    text-align: center;
    border-radius: 0px 0px 20px 20px;
}
.footer{
    grid-area: footer;
    background-color: lightgrey;
    text-align: center;
}
.grid-contenedor{
    display: grid;
	grid-template:
		'title' 50px
        'top-bar' 60px
		'menu' auto
		'bottom-bar' 50px
		'footer' 60px;
}

@media (min-width: 540px) {
	.grid-contenedor {
		grid-template:
			'title title' 50px
            'top-bar top-bar' 50px
			'menu menu' auto
			'bottom-bar bottom-bar' 50px
			'footer footer' 60px /
			auto 200px;
	}
}

@media (min-width: 960px) {
	.grid-contenedor {
		grid-template:
			'title title title' 20px
            'top-bar top-bar top-bar' 60px
			'menu menu menu' auto
			'bottom-bar bottom-bar bottom-bar' 50px
            'footer footer footer' 60px /
			200px auto 200px;
	}
}
h1 {
	font-size: 2em;
	text-align: center;
	font-family: 'Pokemon Solid', sans-serif;
	color: yellow;
}
.menu-game{
    background-color: black;
}

.text-bar {
    font-size: 20px;
    color: white;
}
.text-menu{
    font-size: 20px;
    color: white;
    text-align: left;
    margin-left: 20px;
}

.text-box{
    border: 2px solid black;
    width: auto;
    height: 300px;
    overflow:auto;
    background: rgb(2,0,36);
}
.image{
    height: 400px;
    width: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}


.hidden{
    display: none;
}
